<header class="bg-[#008FF5] flex flex-row justify-between items-center px-14 py-4">
    <img class="w-20 md:w-48" src="/assets/logo.png" />
    
    <nav class="flex flex-row gap-10 mr-10 items-center">
        <section class="flex gap-4 text-white uppercase">
            <a routerLink="/home">home</a>
            <a routerLink="/about">about</a>
            <a routerLink="/services">services</a>
            <a routerLink="/blog">blog</a>
            <a routerLink="/features">features</a>
            <a routerLink="/contacts">contacts</a>
        </section>
    
        <img class="w-8 h-8" src="/assets/search_icon.png" />
    </nav>
</header>